# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#VS file
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.sdf
*.opensdf
*.ilk
*.pdb
*.idb
*.log
*.tlog
*.lastbuildstate